dist: xenial
language: python
python:
  - 3.6
  - 3.7
  - 3.8
env:
  - DJANGO_VERSION='>=3.0,<3.1'
  - DJANGO_VERSION='>=3.1,<3.2'
# command to run tests
install: ./install_redis.sh
script: make test DJANGO_VERSION=$DJANGO_VERSION
branches:
  only:
    - unstable
    - master
