language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
env:
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6
  - DJANGO_VERSION=1.7
  - DJANGO_VERSION=1.8
# command to run tests
script: make test DJANGO_VERSION=$DJANGO_VERSION
branches:
  only:
    - unstable
    - master
